In [67]:
from bs4 import BeautifulSoup
import requests
import time
import datetime
import pandas as pd
import re

In [84]:
price= []
mkmodel = []
mileage= []
year = []

In [41]:
url = "https://www.cars.com/shopping/results/?page=1&page_size=100&list_price_max=&makes[]=&maximum_distance=20&models[]=&stock_type=used&zip=53151"
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.159 Safari/537.36",
           "Accept-Encoding":"gzip, deflate",  "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9",
           "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

In [83]:
def pagelooper(n,m):
    for i in range(n,m):
        while(1):
            try:
                page = requests.get(f"""https://www.cars.com/shopping/results/?page={i}&page_size=100&list_price_max=&makes[]
                =&maximum_distance=20&models[]=&stock_type=used&zip=53151""",headers=headers)

                soup1 = BeautifulSoup(page.content,"html.parser")
                soup2= BeautifulSoup(soup1.prettify(),'html.parser')
                search = soup2.find_all(class_="primary-price")
                search2 = soup2.find_all(class_="title")
                search3 = soup2.find_all(class_='mileage')
            except AttributeError:
                print('Retrying')
                time.sleep(3)
            else:
                break
        for i,j,k in zip(search,search2,search3,):
            price.append(i.get_text().strip())
            year.append(j.get_text().strip()[0:4])
            mkmodel.append(j.get_text().strip()[5:])
            mileage.append(k.get_text().strip())
        time.sleep(6)
        v +=1
        print(f"Page {v} scanned...")

In [85]:
pagelooper(1,40)

In [6]:
import datetime
today = datetime.date.today()
print(today)

2021-09-09

In [86]:
cardata= list(zip(price,year,mkmodel,mileage))

In [50]:
cardata

[('$23,598', '2013', ' Lexus RX 450h Base', '69,570 mi.'),
 ('$26,192', '2019', ' Mazda CX-5 Touring', '8,847 mi.'),
 ('$45,303', '2019', ' Nissan Armada SL', '31,818 mi.'),
 ('$14,311', '2016', ' Mazda Mazda3 i Sport', '75,312 mi.'),
 ('$49,990', '2018', ' BMW M2 Base', '14,684 mi.'),
 ('$68,750', '2019', ' Audi Q8 3.0T Premium', '20,629 mi.'),
 ('$27,987', '2018', ' Lincoln MKC Premiere', '34,362 mi.'),
 ('$27,603', '2018', ' Lincoln MKC Premiere', '45,961 mi.'),
 ('$44,992', '2020', ' Mercedes-Benz GLB 250 Base 4MATIC', '12,504 mi.'),
 ('$48,995', '2021', ' Hyundai Palisade Limited', '13,109 mi.'),
 ('$31,985', '2018', ' Alfa Romeo Stelvio Base', '35,277 mi.'),
 ('$32,498', '2019', ' Ford Explorer XLT', '30,526 mi.'),
 ('$35,990', '2018', ' Mercedes-Benz C-Class C 300 4MATIC', '12,388 mi.'),
 ('$33,750', '2019', ' INFINITI QX50 ESSENTIAL', '52,435 mi.'),
 ('$9,497', '2010', ' Toyota Camry SE', '88,593 mi.'),
 ('$16,787', '2013', ' Chevrolet Camaro 1LT', '91,950 mi.'),
 ('$47,995', '2018', ' Ford F-150 King Ranch', '45,208 mi.'),
 ('$32,995', '2017', ' Land Rover Range Rover Evoque SE', '45,459 mi.'),
 ('$74,995', '2018', ' Lincoln Navigator L Black Label', '40,024 mi.'),
 ('$55,995', '2018', ' Ford Expedition Max Limited', '48,679 mi.'),
 ('$41,995', '2020', ' Lincoln Corsair Reserve', '24,261 mi.'),
 ('$29,991', '2019', ' Mazda CX-5 Grand Touring', '17,464 mi.'),
 ('$26,769', '2014', ' Audi S5 3.0T Premium Plus quattro', '71,040 mi.'),
 ('$36,898', '2019', ' Jeep Grand Cherokee Limited', '24,018 mi.'),
 ('$16,497', '2005', ' Toyota Tundra SR5', '96,003 mi.'),
 ('$44,890', '2018', ' Volvo XC60 T5 Inscription', '20,550 mi.'),
 ('$32,991', '2019', ' Volkswagen Golf Alltrack TSI S', '9,717 mi.'),
 ('$52,991', '2020', ' Volvo XC90 T6 Momentum 6 Passenger', '26,227 mi.'),
 ('$25,991', '2018', ' Volkswagen Tiguan 2.0T SE', '28,560 mi.'),
 ('$35,755', '2018', ' Cadillac XT5 Luxury', '23,259 mi.'),
 ('$40,210', '2018', ' Toyota 4Runner Limited', '32,177 mi.'),
 ('$47,081', '2019', ' Nissan Armada SL', '24,601 mi.'),
 ('$34,995', '2018', ' Cadillac XT5 Luxury', '45,289 mi.'),
 ('$39,988', '2019', ' Chevrolet Traverse Premier', '29,838 mi.'),
 ('$41,998', '2019', ' Volvo XC60 T5 Momentum', '34,570 mi.'),
 ('$23,382', '2017', ' Chevrolet Traverse 1LT', '88,263 mi.'),
 ('$34,989', '2018', ' Mercedes-Benz C-Class C 300 4MATIC', '19,123 mi.'),
 ('$19,500', '2016', ' Subaru Crosstrek 2.0i Limited', '69,464 mi.'),
 ('$29,994', '2018', ' Dodge Challenger GT', '47,355 mi.'),
 ('$18,749', '2018', ' Hyundai Sonata SEL', '53,784 mi.'),
 ('$23,700', '2017', ' Honda CR-V EX-L', '71,012 mi.'),
 ('$31,991', '2019', ' Volkswagen Golf Alltrack TSI S', '8,770 mi.'),
 ('$20,329', '2018', ' Ford Escape SE', '44,657 mi.'),
 ('$23,598', '2013', ' Lexus RX 450h Base', '69,570 mi.'),
 ('$33,000', '2019', ' Subaru Outback 2.5i Limited', '10,273 mi.'),
 ('$26,988', '2016', ' Toyota Sienna XLE', '62,835 mi.'),
 ('$16,991', '2017', ' Kia Optima LX', '27,588 mi.'),
 ('$38,899', '2019', ' Toyota RAV4 Hybrid Limited', '15,415 mi.'),
 ('$37,000', '2020', ' Jeep Grand Cherokee Limited', '63,266 mi.'),
 ('$12,998', '2007', ' Toyota 4Runner SR5', '175,982 mi.'),
 ('$8,995', '2013', ' Subaru Forester 2.5X Premium', '129,284 mi.'),
 ('$36,983', '2018', ' Lincoln MKX Reserve', '27,734 mi.'),
 ('$38,995', '2018', ' Jeep Grand Cherokee Limited', '40,204 mi.'),
 ('$34,999', '2018', ' Volkswagen Atlas 3.6L SEL Premium', '88,882 mi.'),
 ('$38,990', '2018', ' Jeep Grand Cherokee Limited', '39,761 mi.'),
 ('$28,000', '2019', ' Subaru Crosstrek 2.0i Premium', '19,040 mi.'),
 ('$24,000', '2018', ' Toyota RAV4 LE', '34,078 mi.'),
 ('$40,795', '2018', ' Ford F-150 Lariat', '56,446 mi.'),
 ('$28,800', '2018', ' Subaru Crosstrek 2.0i Limited', '22,490 mi.'),
 ('$12,995', '2010', ' Mercedes-Benz E-Class E 350', '71,095 mi.'),
 ('$8,995', '2008', ' Honda Odyssey Touring', '121,313 mi.'),
 ('$10,995', '2001', ' Toyota MR2 Spyder', '46,373 mi.'),
 ('$55,632', '2018', ' Ford F-150 King Ranch', '19,961 mi.'),
 ('$26,995', '2017', ' Toyota Highlander XLE', '48,236 mi.'),
 ('$18,900', '2017', ' Toyota RAV4 LE', '41,304 mi.'),
 ('$46,222', '2019', ' Ford F-150 Lariat', '23,384 mi.'),
 ('$14,990', '2010', ' GMC Acadia SLT-2', '64,009 mi.'),
 ('$37,747', '2020', ' Jeep Grand Cherokee Limited', '19,867 mi.'),
 ('$62,618', '2020', ' Tesla Model Y Long Range', '9,481 mi.'),
 ('$24,990', '2013', ' Toyota Tundra Grade', '87,540 mi.'),
 ('$25,277', '2017', ' Honda Accord EX-L', '22,102 mi.'),
 ('$21,329', '2018', ' Honda Civic EX', '27,353 mi.'),
 ('$26,811', '2016', ' Toyota Sienna XLE', '71,130 mi.'),
 ('$29,744', '2019', ' Mazda CX-5 Grand Touring', '16,042 mi.'),
 ('$31,994', '2020', ' Toyota RAV4 XLE', '11,705 mi.'),
 ('$37,998', '2018', ' BMW 530 i xDrive', '51,297 mi.'),
 ('$27,987', '2019', ' Honda CR-V EX-L', '41,746 mi.'),
 ('$24,995', '2018', ' Volkswagen Tiguan 2.0T SE', '25,678 mi.'),
 ('$27,997', '2019', ' Nissan Rogue SL', '21,584 mi.'),
 ('$43,965', '2018', ' Mercedes-Benz GLE 350 Base 4MATIC', '28,893 mi.'),
 ('$55,957', '2019', ' Porsche Macan Base', '15,105 mi.'),
 ('$34,434', '2017', ' Mercedes-Benz E-Class E 300', '59,412 mi.'),
 ('$21,876', '2015', ' BMW 528 i xDrive', '89,528 mi.'),
 ('$35,121', '2018', ' Toyota Tacoma SR5', '32,292 mi.'),
 ('$47,636', '2018', ' Mercedes-Benz C-Class C 300 4MATIC', '30,042 mi.'),
 ('$14,995', '2004', ' Dodge Ram 1500 SLT', '72,164 mi.'),
 ('$32,938', '2018', ' Mercedes-Benz C-Class C 300 4MATIC', '36,304 mi.'),
 ('$10,995', '2007', ' Toyota 4Runner SR5 Sport', '165,048 mi.'),
 ('$11,995', '2010', ' Honda CR-V EX-L', '97,485 mi.'),
 ('$24,440', '2016', ' Subaru Outback 2.5i Limited', '61,092 mi.'),
 ('$54,990', '2019', ' Toyota 4Runner TRD Pro', '17,325 mi.'),
 ('$20,990', '2013', ' Lincoln MKZ Base', '33,734 mi.'),
 ('$30,995', '2019', ' Subaru Outback 2.5i Limited', '29,590 mi.'),
 ('$27,770', '2018', ' Subaru Outback 2.5i Premium', '43,840 mi.'),
 ('$39,794', '2021', ' Hyundai Palisade SE', '11,918 mi.'),
 ('$24,990', '2018', ' Toyota RAV4 XLE', '33,725 mi.'),
 ('$25,994', '2019', ' Honda Accord Sport', '32,720 mi.'),
 ('$21,990', '2020', ' Toyota Corolla SE', '22,731 mi.'),
 ('$27,790', '2019', ' Honda Accord Sport', '13,552 mi.'),
 ('$28,994', '2018', ' Buick Enclave Essence', '89,910 mi.'),
 ('$26,794', '2019', ' Honda CR-V EX', '47,372 mi.')]

In [87]:
need = pd.DataFrame(cardata,columns=['price','year','mkmodel','mileage'])

In [100]:
need

        price  year                           mkmodel      mileage
0     $23,598  2013                Lexus RX 450h Base   69,570 mi.
1     $26,192  2019                Mazda CX-5 Touring    8,847 mi.
2     $45,303  2019                  Nissan Armada SL   31,818 mi.
3     $14,311  2016              Mazda Mazda3 i Sport   75,312 mi.
4     $49,990  2018                       BMW M2 Base   14,684 mi.
...       ...   ...                               ...          ...
3879  $18,762  2014                 Ford Explorer XLT  122,217 mi.
3880  $34,872  2018                     Ford Flex SEL   28,575 mi.
3881  $14,490  2014                   Nissan Rogue SL  146,501 mi.
3882  $33,999  2019  Volkswagen Golf Alltrack TSI SEL   15,033 mi.
3883  $30,890  2020          Mazda CX-5 Grand Touring   23,154 mi.

[3884 rows x 4 columns]

In [101]:
need.to_csv('carscom.csv')

In [59]:
getcount = requests.get("""https://www.cars.com/shopping/results/?page=1&page_size=100&list_price_max=&makes[]
                =&maximum_distance=20&models[]=&stock_type=used&zip=53151""",headers=headers)
setup1 = BeautifulSoup(page.content,"html.parser")
setup2 = BeautifulSoup(soup1.prettify(),'html.parser')
pagecounter = setup2.find(class_="total-filter-count").get_text()

In [82]:
x =  ''.join(re.findall(r"\d+", pagecounter.strip()))

In [80]:
int(x)//100

95

In [91]:
pd.ExcelWriter('Cars.com used info.xlsx').save()

        price  year                           mkmodel      mileage
0     $23,598  2013                Lexus RX 450h Base   69,570 mi.
1     $26,192  2019                Mazda CX-5 Touring    8,847 mi.
2     $45,303  2019                  Nissan Armada SL   31,818 mi.
3     $14,311  2016              Mazda Mazda3 i Sport   75,312 mi.
4     $49,990  2018                       BMW M2 Base   14,684 mi.
...       ...   ...                               ...          ...
3879  $18,762  2014                 Ford Explorer XLT  122,217 mi.
3880  $34,872  2018                     Ford Flex SEL   28,575 mi.
3881  $14,490  2014                   Nissan Rogue SL  146,501 mi.
3882  $33,999  2019  Volkswagen Golf Alltrack TSI SEL   15,033 mi.
3883  $30,890  2020          Mazda CX-5 Grand Touring   23,154 mi.

[3845 rows x 4 columns]